<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="profile-card">
    <div class="profile-picture-container">
      <img class="profile-picture" src="assets/yahir.jpg" alt="Mi foto">
    </div>
    <ion-card-header>
      <ion-card-title class="card-title">WILMAR YAHIR GALINDO PARIONA</ion-card-title>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title class="card-title">1004520181</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      <p>¡Hola! Soy Yahir, un apasionado de la cocina y amante de las recetas de comidas deliciosas. Me encanta explorar nuevos sabores y compartir mis creaciones con los demás.</p>
      <p>En este blog, encontrarás una variedad de recetas que he recopilado a lo largo de los años. Desde platos tradicionales hasta recetas innovadoras, ¡tengo algo para todos los gustos!</p>
      <p>Espero que disfrutes de las recetas y encuentres inspiración para crear tus propias delicias culinarias. ¡A cocinar se ha dicho!</p>
    </ion-card-content>
  </ion-card>
</ion-content>
