<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- Lista de opciones en el menú lateral -->
    <ion-list>
      <ion-item (click)="onMenuItemClick('Opción 1')">About</ion-item>
      <ion-item (click)="onMenuItemClick('Opción 2')">Recetas</ion-item>
      <ion-item (click)="onMenuItemClick('Opción 3')">Crea tus Recetas</ion-item>
      <ion-item (click)="onMenuItemClick('Opción 4')">Perfil</ion-item>
    
      <!-- Agrega más opciones aquí -->
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón para abrir la barra lateral -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rincón de Recetas</ion-title>
    <!-- Botón de Logout en la parte superior derecha de la barra de herramientas -->
    <ion-buttons slot="end">
      <ion-button (click)="onClick()">
       Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let foto of fotosService.fotos; let position = index">
        <ion-img [src]="foto.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Resto de tu contenido -->
 
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
